<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Crud React + SpringBoot</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style> .navbar{margin-bottom: 15px;} </style>
</head>
<body>
<div class="container" style="padding:15px;">
	
  <div id="main-employe"></div>
  <script src="/built/bundle.js"></script>
  
</div> 
</body>
</html>